body{
   background-color: rgb(16, 92, 125);
   font-weight: bolder;
}
.car{
   border: 3px solid rgb(16, 92, 125);
   width: 50%;
   background-color: rgb(16, 92, 125);
   box-shadow: 5px solid rgb(100, 100, 100);

}
h1, p{
   margin-left: 5%;
   font-weight: 500;
   color: white;
   padding-left: 15.5%;
}
h1{
   border: 1px solid  rgb(16, 92, 125);;
   margin-right: 2.5%;
   height: max-content;
   color: whitesmoke;
   padding: 5%;
}
